.users-list {
    width: 60%;
    float: left;
}

.new-user {
    background-color: rgba(226, 245, 169, 1);
    padding: 10px;
    margin: 10px 0;

    .user-details {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
}

.input-box {
    width: 25%;
    box-sizing: border-box;
    padding: 0 5px;
}