.form-data {
    padding: 0 20px;

    .data-input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
    }
}

.submitted-user {
    background-color: rgba(226, 245, 169, 1);
    font: 'Open Sans', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    padding: 19px;
}

p.error-chars,
p.error-zipcode,
p.error-phone,
p.error-email {
    display: none;
}

p.error-chars.active,
p.error-zipcode.active,
p.error-phone.active,
p.error-email.active {
    color: darkred;
    font-size: 14px;
    font-weight: bold;
    display: block;
}