button {
    padding: 2px 10px;
    border: 1px solid $color-black;
    margin: 0 5px;
    cursor: pointer;
}

.btn-remove {
    background-color: $color-danger;
    color: $color-white;
}

.btn-edit {
    background-color: $color-blue;
}

.edit .btn-edit {
    border: groove $color-dark-blue;
}

.btn-save {
    background-color: $color-success;
    display: none;
}

.show .btn-save {
    display: inline-block;
}

.btn-delete {
    clear: both;
    #delete {
        border: 1px solid;
        background-color: $color-gold;
        font-weight: bold;
        padding: 3px 10px;
    }
}

