form {
    width: 40%;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;

    label {
        min-width: 70px;
        display: inline-block;
        float: left;
        font-family: cursive;
    }
    input {
        border: none;
        border-bottom: 1px solid $color-dark-grey;
        margin-top: 10px;
        padding-bottom: 10px;
        &:focus {
            outline: none;
            border-width: 2px;
            border-color: $color-lightgreen;
        }
    }
}

.input-box input {
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid transparent;
    background-color: transparent;
    color: $color-black;
}

.edit .input-box input {
    background-color: $color-white-secondary;
    border: 1px solid $color-green;
}