$color-danger: indianred;
$color-blue: lightskyblue;
$color-dark-blue: cornflowerblue;
$color-success: limegreen;
$color-gold: gold;
$color-black: #000000;
$color-white: #ffffff;
$color-white-secondary: ghostwhite;
$color-green: #027353;
$color-lightgreen: seagreen;
$color-grey: slategrey;
$color-lightgrey: #d3d3d3;