$color-danger: #d9534f;
$color-red: #d43f3a;
$color-redbrick: #c9302c;
$color-blue: #428bca;
$color-dark-blue: #3071a9;
$color-success: #5cb85c;
$color-success-hover: #449d44;
$color-gold: #E3AE4B;
$color-orange: #f0ad4e;
$color-orange-hover: #ec971f;
$color-black: #000000;
$color-white: #ffffff;
$color-white-secondary: #f8f8ff;
$color-green: #027353;
$color-lightgreen: seagreen;
$color-dark-grey: slategrey;
$color-grey: #e3e3e3;
$color-lightgrey: #f5f5f5;
